@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}
html {
  scroll-behavior: auto;
}

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;

  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f273a;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #0f172a;
}

:hover.glass {
  background-color: rgba(160, 176, 214, 0.06);
  transition: background-color 0.1s ease-in-out;
  border-radius: 6px;
  border-top: 1px #35415b solid;
  margin-top: -1px;
}

:hover.glass .changeColor {
  color: #5adfcb;
}

:hover.glass .changePos {
  transform: translate(4px, -4px);
  transition: transform 0.1s ease-in-out;
}

:hover.links .changePos {
  transform: translate(4px, -4px);
  transition: transform 0.1s ease-in-out;
}

.hovered {
  opacity: 0.5;
}

:hover.glass .changeBrightness {
  opacity: 1;
  transition: none;
}

.changeWidth {
  transition: width 0.15s ease-in;
}

:hover.infoLine {
  color: #e2e8f0;
}

:hover.infoLine .changeWidth {
  background-color: #e2e8f0;
  width: 70px;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 150ms;
}

.links {
  transition: color 0.15s ease-in-out;
}

:hover.links {
  color: #5adfcb;
}

.addWidth {
  transition: all 0.1s ease-in-out;
}

:hover.links .addWidth {
  width: 100%;
  background-color: #5adfcb;
}

.skill {
  background-color: rgba(160, 176, 214, 0.06);
  transition: background-color 0.1s ease-in-out;
  border-radius: 12px;
  border-top: 1px #35415b solid;
}
.skillBgColor {
  transition: background-color 0.1s ease-in-out;
}
:hover.skillsDiv .skillBgColor {
  background-color: #122b39;
  color: #5adfcb;
  border-radius: 12px;
  border-top: 1px #35415b solid;
}
